**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md


node_modules
npm-debug.log
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.git
.gitignore
README.md
coverage
logs
uploads
*.log