# Auto detect text files and perform LF normalization
* text=auto

# These files are text and should be normalized (convert crlf => lf)
*.ts text
*.js text
*.json text
*.md text
*.yml text
*.yaml text
*.html text
*.css text
*.txt text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.pdf binary
*.zip binary
